.panel {
    margin-top: 150px;
}

ul {
    list-style-type: none;
}

li.event {
    margin-top: 20px;
}

.panelist {
    padding-left: 20px;
}

li.event li {
    padding-bottom: 10px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    max-width: 250px; 
    overflow:auto;
    text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
    
  }

  th {
    background-color: #f2f2f2;
  }