extends layout

block style
    link(rel="stylesheet", href="/style/publications.css")

block content
    div.row.justify-content-center.panel.content
        div.col-8
            h1 Publications
            p Here, we collect all the reports, publications, and deliverables produced in this Action.

    div.row.justify-content-center
        div.col-8
            ul
                li
                    a(href="/publications/Use-cases_and_requirements_Deliverable-2.pdf") Use-cases and Requirements
