extends layout

block style
    link(rel="stylesheet", href="/style/stsm.css")

block content
    div.row.justify-content-center
        div.col-8.stsm-content
            h1.title STSM Grants
            div.content-block
                p
                  | STSMs are funded exchange visits aimed at strengthening the existing research network and
                  | intended to foster collaboration between participants in the COST action.
                  | Scientists and researchers can visit an institution or laboratory in another COST country and contribute to the scientific objectives of the action,
                  | while at the same time partake in the mission to learn new techniques, gain access to specific data, instruments
                  | and/or methods not available in their own institutions/organizations.

            div.content-block
                h3 Open call
                p In this call, we plan to fund 2 STSMs. Please submit your proposals by 28th June, 2024.
                p More information:&nbsp
                    a(href="/documents/STSM.Call.Final.pdf") PDF

            div.content-block
                h3 Past calls
                p Fifteenth call (Application deadline: 3rd May, 2024):&nbsp
                    a(href="/documents/STSM.Call.14th.pdf") PDF
                p Fourteenth call (Application deadline: 12th April, 2024):&nbsp
                    a(href="/documents/STSM.Call.14th.pdf") PDF
                p Thirteenth call (Application deadline: 15th March, 2024):&nbsp
                    a(href="/documents/STSM.Call.13th.pdf") PDF
                p Twelfth call (Application deadline: 2nd February, 2024):&nbsp
                    a(href="/documents/STSM.Call.12th.pdf") PDF
                p Eleventh call (Application deadline: 5th January, 2024):&nbsp
                    a(href="/documents/STSM.Call.11th.pdf") PDF
                p Tenth call (Application deadline: 7th July, 2023):&nbsp
                    a(href="/documents/STSM_Call__10th_.pdf") PDF
                p Ninth call (Application deadline: 14th April, 2023):&nbsp
                    a(href="/documents/STSM_Call__9th_.pdf") PDF
                p Eighth call (Application deadline: 24th February, 2023):&nbsp
                    a(href="/documents/STSM_Call__8th_.pdf") PDF
                p Seventh call (Application deadline: 3th February, 2023):&nbsp
                    a(href="/documents/STSM_Call__7th_.pdf") PDF
                p Sixth call (Application deadline: 6th January, 2023):&nbsp
                    a(href="/documents/STSM_Call__6th_.docx") Word
                    | &nbsp-&nbsp
                    a(href="/documents/STSM_Call__6th_.pdf") PDF
                p Fifth call (Application deadline: 15th September, 2022):&nbsp
                    a(href="/documents/STSM_Call__5th_.docx") Word
                    | &nbsp-&nbsp
                    a(href="/documents/STSM_Call__5th_.pdf") PDF
                p Fourth call (Application deadline: 15th August, 2022):&nbsp
                    a(href="/documents/STSM_Call__4th_.docx") Word
                    | &nbsp-&nbsp
                    a(href="/documents/STSM_Call__4th_.pdf") PDF
                p Third call (Application deadline: 15th June, 2022):&nbsp
                    a(href="/documents/STSM_Call__3rd_.docx") Word
                    | &nbsp-&nbsp
                    a(href="/documents/STSM_Call__3rd_.pdf") PDF
                p Second call (Application deadline: 15th May, 2022):&nbsp
                    a(href="/documents/STSM_Call__2nd_.pdf") PDF
                p First call (Application deadline: 9th February, 2022):&nbsp
                  a(href="/documents/STSM_Call__2022-01-25_.docx") Word
                  | &nbsp-&nbsp
                  a(href="/documents/STSM_Call__2022-01-25_.pdf") PDF
