extends layout

block style
  link(rel="stylesheet", href="/style/stsm.css")

block content
  div.row.justify-content-center
    div.col-10.text-center.temp-message
      | STSM Grants
      | More information coming soon!
      | Stay tuned on&nbsp
      a(href="https://twitter.com/cost_dkg").twitter-message twitter @cost_dkg